2 Automatizacao Processos/1 Utilizando Nos Padrao do N8N/9 Avancando automacao de processo seletivo/n8n/Processo Seletivo RH - Parte 2.json
{
  "name": "Processo Seletivo RH - Parte 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 21,
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fb020a88-3a80-44be-bb37-ac43fab90f63",
      "name": "Dispara no dia 21/01/2026 às 6PM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_zL9nLL2mj5o4MTUQMspo3W6esfaev5MyGNnOW1oAYI",
          "mode": "list",
          "cachedResultName": "Processo Seletivo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_zL9nLL2mj5o4MTUQMspo3W6esfaev5MyGNnOW1oAYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Candidatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_zL9nLL2mj5o4MTUQMspo3W6esfaev5MyGNnOW1oAYI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "20d880d1-bd61-4ee0-bd55-61b3450fac2b",
      "name": "Obtém candidatos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fw4RCweCsyHTqQ9f",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4dd6c21-8043-40c9-8a60-e3d3b5ae6856",
              "leftValue": "={{ $json['Anos Experiência'] }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "3f575b78-42f3-4976-b5a7-b518a2cb7495",
              "leftValue": "={{ $json['Grau Escolaridade'].toLowerCase() }}",
              "rightValue": "superior",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "c277aedf-2093-4031-adcb-017869c7decf",
      "name": "Candidato aprovado?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        -256
      ],
      "id": "10e8fdca-baac-4baf-8bb3-7d79829e9ab7",
      "name": "Para cada candidato"
    },
    {
      "parameters": {
        "fromEmail": "Eng Fabio De Salvi <engfabiodesalvi@gmail.com>",
        "toEmail": "={{ $json.Nome }}<{{ $json.Email }}>",
        "subject": "Você foi aprovado!",
        "html": "=Olá {{ $json.Nome.split(' ')[0] }}, tudo bem?\n<br><br>\nPassando aqui para informar que você foi aprovado para a próxima fase do processo seletivo.\n<br><br>\nParabéns!\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        944,
        -160
      ],
      "id": "841c4713-772e-4a6f-8954-36288d669c43",
      "name": "Envia email de aprovação",
      "webhookId": "d815505e-c9c3-49c6-abd4-c933cac92f57",
      "credentials": {
        "smtp": {
          "id": "7ySW43qqFN5va8st",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        -160
      ],
      "id": "008bb81a-9c02-4079-88ab-813001f30e82",
      "name": "Aguardar 5s",
      "webhookId": "c010d22b-b153-4af6-b313-13ae7f768111"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Nome"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        688,
        64
      ],
      "id": "f908d136-a6e2-4c43-ab6e-c1ec3708b10f",
      "name": "Gera array de nomes"
    },
    {
      "parameters": {
        "fromEmail": "Eng Fabio De Salvi<engfabiodesalvi@gmail.com>",
        "toEmail": "Eng Fabio De Salvi<engfabiodesalvi@gmail.com>",
        "subject": "Candidatos Reprovados",
        "html": "=Olá colaborador Fabio!\n<br><br>\nSegue a relação dos candidatos reprovados no processo seletivo:\n<br><br>\n{{ $json.Nome.join('<br>') }}\n<br><br>\nAtenciosamente,\n<br>\nEquipe de Desenvolvimento",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        64
      ],
      "id": "5f107d04-e52b-4ffe-b801-0ddbbdafb8bd",
      "name": "Envia lista de candidatos reprovados",
      "webhookId": "40ad6961-89a2-4979-a355-b4a105883a66",
      "credentials": {
        "smtp": {
          "id": "7ySW43qqFN5va8st",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Dispara no dia 21/01/2026 às 6PM": {
      "main": [
        [
          {
            "node": "Obtém candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém candidatos": {
      "main": [
        [
          {
            "node": "Candidato aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidato aprovado?": {
      "main": [
        [
          {
            "node": "Para cada candidato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gera array de nomes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Para cada candidato": {
      "main": [
        [],
        [
          {
            "node": "Envia email de aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email de aprovação": {
      "main": [
        [
          {
            "node": "Aguardar 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 5s": {
      "main": [
        [
          {
            "node": "Para cada candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera array de nomes": {
      "main": [
        [
          {
            "node": "Envia lista de candidatos reprovados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9d95e2dd-c8ad-4d36-b0f6-1ce347edf6ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "688a9cc9812a67f757fc09049ba8006059211ad2f3fb2a22702248b6f0f9fda5"
  },
  "id": "RD27V52HDqc0mrwf",
  "tags": []
}