2 Automatizacao Processos/1 Utilizando Nos Padrao do N8N/8 Criando automacao de processo seletivo/n8n/Processo Seletivo RH - Parte 1.json
{
  "name": "Processo Seletivo RH - Parte 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 21,
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "04e82b79-f82c-4417-9ad9-69dd69d35845",
      "name": "Dispara no dia 21/01/2026 às 6PM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_zL9nLL2mj5o4MTUQMspo3W6esfaev5MyGNnOW1oAYI",
          "mode": "list",
          "cachedResultName": "Processo Seletivo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_zL9nLL2mj5o4MTUQMspo3W6esfaev5MyGNnOW1oAYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Candidatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_zL9nLL2mj5o4MTUQMspo3W6esfaev5MyGNnOW1oAYI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "737aa85f-9690-4e37-b7b3-358bb5c1018f",
      "name": "Obtém candidatos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fw4RCweCsyHTqQ9f",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4dd6c21-8043-40c9-8a60-e3d3b5ae6856",
              "leftValue": "={{ $json['Anos Experiência'] }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "3f575b78-42f3-4976-b5a7-b518a2cb7495",
              "leftValue": "={{ $json['Grau Escolaridade'].toLowerCase() }}",
              "rightValue": "superior",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "84d3b796-8dcc-4598-a73b-3ee54cb91403",
      "name": "Candidato aprovado?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        -96
      ],
      "id": "d33b8e09-a71e-42aa-93f5-ccceb95c8e18",
      "name": "Para cada candidato"
    },
    {
      "parameters": {
        "fromEmail": "Eng Fabio De Salvi <engfabiodesalvi@gmail.com>",
        "toEmail": "={{ $json.Nome }}<{{ $json.Email }}>",
        "subject": "Você foi aprovado!",
        "html": "=Olá {{ $json.Nome.split(' ')[0] }}, tudo bem?\n<br><br>\nPassando aqui para informar que você foi aprovado para a próxima fase do processo seletivo.\n<br><br>\nParabéns!\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "f3824e49-7e50-4886-a801-72831619ef40",
      "name": "Envia email de aprovação",
      "webhookId": "e1719307-d37e-418f-8100-6b1da50a7163",
      "credentials": {
        "smtp": {
          "id": "7ySW43qqFN5va8st",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        0
      ],
      "id": "d4e412ec-a91b-4950-a555-a8e665ce0f15",
      "name": "Aguardar 5s",
      "webhookId": "ea6ea1cc-7318-4e86-9936-542b5603f98f"
    }
  ],
  "pinData": {},
  "connections": {
    "Dispara no dia 21/01/2026 às 6PM": {
      "main": [
        [
          {
            "node": "Obtém candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém candidatos": {
      "main": [
        [
          {
            "node": "Candidato aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidato aprovado?": {
      "main": [
        [
          {
            "node": "Para cada candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Para cada candidato": {
      "main": [
        [],
        [
          {
            "node": "Envia email de aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email de aprovação": {
      "main": [
        [
          {
            "node": "Aguardar 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 5s": {
      "main": [
        [
          {
            "node": "Para cada candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "628c82f8-a456-489a-aa15-88ff2e0c5147",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "688a9cc9812a67f757fc09049ba8006059211ad2f3fb2a22702248b6f0f9fda5"
  },
  "id": "69R69hKgsyjh72sS86nKP",
  "tags": []
}