2 Automatizacao Processos/1 Utilizando Nos Padrao do N8N/5 Elaborando a combinacao de um no padrao/n8n/Nodes Centrais - DIO - 5.json
{
  "name": "Nodes Centrais - DIO - 5",
  "nodes": [
    {
      "parameters": {
        "content": "## Tecnologia",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -176
      ],
      "typeVersion": 1,
      "id": "7ead6801-b598-4cab-ac27-623c8da0a417",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Financeiro",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -176
      ],
      "typeVersion": 1,
      "id": "3377ea1a-f733-4311-9a0f-d48e5c2503e1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova_transacao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -128
      ],
      "id": "4081a432-9f8c-4448-9903-60e087592c1d",
      "name": "Monitora par-moedas",
      "webhookId": "0737399a-9db1-4ebe-ba46-925ab9082af2"
    },
    {
      "parameters": {
        "url": "=https://economia.awesomeapi.com.br/last/{{ $json.body['par-moeda'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        -128
      ],
      "id": "ecff9867-94f9-4cb3-a4af-75565934b314",
      "name": "Consultar cotação do par-moeda"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ea37fb6-137e-4c05-901c-9e1562239557",
              "name": "valor_convertido",
              "value": "={{ $json.USDBRL.bid.toNumber().round(2) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -128
      ],
      "id": "7be5b1dc-c921-432c-bb32-ed6ee738d884",
      "name": "Conversão Dolar x Real"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.valor_convertido }}",
                    "rightValue": 5.95,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "b889c5fc-0631-4002-b8aa-68add7a0b7ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não comprar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b8147138-cae8-4442-93a6-f518c0b290cf",
                    "leftValue": "={{ $json.valor_convertido }}",
                    "rightValue": 5.95,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comprar muito"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        -128
      ],
      "id": "b1760d48-22b7-4c8d-8263-f8291ebbf299",
      "name": "Cotação do Dolar"
    }
  ],
  "pinData": {},
  "connections": {
    "Monitora par-moedas": {
      "main": [
        [
          {
            "node": "Consultar cotação do par-moeda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar cotação do par-moeda": {
      "main": [
        [
          {
            "node": "Conversão Dolar x Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversão Dolar x Real": {
      "main": [
        [
          {
            "node": "Cotação do Dolar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f2b7b2fb-2595-4158-ae79-8e073aeaf76c",
  "meta": {
    "instanceId": "688a9cc9812a67f757fc09049ba8006059211ad2f3fb2a22702248b6f0f9fda5"
  },
  "id": "Y9Me0CehawOUVCs9",
  "tags": []
}